<div class="customers-container">
  <div class="customer-header">
    <img src="../../../../../assets/images/User.svg">
    <h2>Customers</h2>
  </div>
  <div>
    <div>
      <div class="customer-filter">
        <label>Filter:</label>
        <input type="text">
      </div>
      <button (click)="onAddNewCustomerClick()">Add New Customer</button>
    </div>
    <div>
      <app-customers-table [customers]="myCustomers" (customerClicked)="showCustomerDetails($event)"></app-customers-table>
    </div>
  </div>
</div>
