<div class="customers-container">
  <div class="customer-header">
      <img src="../../../../../assets/images/User.svg">
      <h2>Customers</h2>
  </div>
  <div class="customers-table-container">
    <div class="customers-table-actions">
      <div class="customer-filter">
        <label>Filter:</label>
        <input type="text" (input)="filterCustomers($event.target!)">
      </div>
      <button (click)="onAddNewCustomerClick()">Add New Customer</button>
    </div>
    <div class="customer-table">
      <app-customers-table [customers]="displayCustomers" (customerClicked)="showCustomerDetails($event)"></app-customers-table>
    </div>
  </div>
</div>
